///////////////////////////////////////////////////////////////////////////////
// NAME:            twardyece.scss
//
// AUTHOR:          Ethan D. Twardy <ethan.twardy@gmail.com>
//
// DESCRIPTION:     Stylesheets for the blog
//
// CREATED:         08/18/2022
//
// LAST EDITED:     11/30/2025
////

.plantuml {
    width: 100%;
}

// Tree-sitter syntax highlighting theme
.ts-attribute {
  color: #af0000;
  font-style: italic;
}
.ts-comment {
  color: #8a8a8a;
  font-style: italic;
}
.ts-constant {
  color: #875f00;
}
.ts-constant-builtin {
  color: #875f00;
  font-weight: bold;
}
.ts-constructor {
  color: #af8700;
}
.ts-function {
  color: #005fd7;
}
.ts-function-builtin {
  color: #005fd7;
  font-weight: bold;
}
.ts-keyword {
  color: #5f00d7;
}
.ts-module {
  color: #af8700;
}
.ts-number {
  color: #875f00;
  font-weight: bold;
}
.ts-operator {
  color: #4e4e4e;
  font-weight: bold;
}
.ts-property {
  color: #af0000;
}
.ts-property-builtin {
  color: #af0000;
  font-weight: bold;
}
.ts-punctuation {
  color: #4e4e4e;
}
.ts-punctuation-bracket {
  color: #4e4e4e;
}
.ts-punctuation-delimiter {
  color: #4e4e4e;
}
.ts-punctuation-special {
  color: #4e4e4e;
}
.ts-string {
  color: #008700;
}
.ts-string-special {
  color: #008787;
}
.ts-tag {
  color: #000087;
}
.ts-type {
  color: #005f5f;
}
// "type.builtin": {"color": 23, "bold": true},
.ts-type-builtin {
  color: #005f5f;
  font-weight: bold;
}
.ts-variable {
  // default styling
}
.ts-variable-builtin {
  font-weight: bold;
}
.ts-variable-parameter {
  text-decoration: underline;
}

///////////////////////////////////////////////////////////////////////////////
